body {
   margin: 10px 6% 10px 250px;
   font-family: Verdana;
   font-size: 11pt;
   text-align: left;
   background-image: url(img/nrocinu.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: left top;
  }

  h1 {font-size: 14pt;}

  #table-of-contents {
      font-size: 85%;
      position: fixed;
      display: bloc;
      left: 10px;
      top: 180px;
      width: 200px;
      line-height: 14pt;
  }

  #table-of-contents h2 {
      display:none;
  }

  #table-of-contents ul {
      list-style: none; 
      margin: 7px 0px 7px 15px ; 
      padding: 0px;
  }

  .title {
      padding-bottom: 7px; 
      margin-bottom: 20px; 
      border-bottom: 1px solid #222;
  }

